// Fuente
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


// DEFAULT
html, body{
  margin: 0 auto;
  background: #333333;
}

*{
  font-family: 'Nunito', sans-serif;
}

// MAIN
